html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(221, 221, 221);
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

.bg-dark {
    /* The !important needed to be on here otherwise it would not override the !important that bootstrap set */
    background-color: #444 !important;
}

/* Navbar */
h2, .navbar-brand, .input-group, .possibleChoices, .fiveDayText, .currentDayText, .dateTime, .cancelBtn, .saveBtn, .previousText {
    font-family: 'Yellowtail', cursive;
}

.navbar {
    border-bottom: 3px solid black;
    padding: 0;
}

/* Logo */
.navbar-brand {
    font-size: 30px;
    justify-content: start;
    margin-left: 25px;
    padding: 20px 0px;
}

/* Moment.js display */
.dateTime {
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0 25px 0 250px;
}

/* Main */
main {
    box-shadow: 2px 9px 15px -3px #444;
    margin: 25px 5%;
}

main h2 {
    font-size: 50px;
}

hr {
    background-color: #444;
    border: none;
    height: 2px;
}

p {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.lastText {
    margin-bottom: 0;
}

/* Changing the font size on the 5-Day forecast p tags */
blockquote p {
    font-size: 18px;
}

.container-fluid {
    margin: 0px auto 30px auto;
    padding-left: 0;
    padding-right: 0;
}

/* Welcome text */
.greetingText {
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

/* Styling for the cards */
.card {
    border: 3px solid #444;
    padding: 0;
}

.card-body {
    padding-top: 5px;
}

/* Icon row styling */
.iconRow {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    margin-top: 5px;
}

/* Styling for the icon in the current forecast */
.icon {
    background-color: rgb(172, 172, 172);
    border-radius: 8px;
    width: 70px;
    margin-left: 10px;
}

/* Styling for the icons in the 5-day forecast */
.icon2 {
    background-color: rgb(172, 172, 172);
    border-radius: 5px;
    margin-right: 4px;
    margin-top: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
}

.uviInfo {
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
}

/* Styling for the 5-Day forecast */
.box {
    box-shadow: 6px 5px 1px -3px #444;
    margin-right: 20px;
    padding: 0;
    width: 100%;
}

.boxContainer {
    flex-direction: row;
}

.col-xl-6 {
    margin-right: 50px;
    box-shadow: 6px 5px 1px -3px #444;
}

.col-xl-3 {
    box-shadow: 6px 5px 1px -3px #444;
}

.fiveDayText, .currentDayText {
    font-size: 30px;
    margin-left: 5%;
}

/* Styling for the searchbars */
.form-control {
    border-radius: 1rem;
    font-size: 25px;
    height: 65px;
}

.form-control2 {
    height: auto;
}

.searchBtn {
    width: 120px;
}

.searchBtn2 {
    width: 100px;
}

/* Styling for the buttons */
.btn {
    border-radius: 1rem;
    color: white;
    font-size: 25px;
}

.btn:hover {
    background-color: rgb(116, 116, 116);
}

.cityBtn {
    margin-right: 15px;
    margin-bottom: 10px;
}

/* Styling for the possible choices text*/
.possibleChoices, .previousText {
    font-size: 35px;
    text-align: center;
}

/* Styling for rows */

.row {
    justify-content: center;
    margin-bottom: 35px;
}

.choiceRow {
    margin: 10px 5px 0 0;
}

/* This is so the 5-day forecast row doesn't have 35px of whitespace underneath the cards */
.fiveDay {
    margin: 0;
}

/* Styling for the searchbars */
.firstSearch {
    margin: 45px auto 25px auto;
    width: 95%;
}

.navSearch {
    margin: 0 15px 0 0;
    width: 400px;
}

/* Styling for the error's */
.error, .error2 {
    border-radius: 1rem;
    border: 2px solid red;
    color: red;
    font-size: 20px;
    margin: 15px auto; 
    padding: 15px;
    text-align: center;
    width: 40%;
}

.error2 {
    align-self: flex-end;
    font-size: 15px;
    margin: 10px 15px 0 0;
    width: 400px;
}

/* Styling for the setting buttons */
.settingsBtn1 {
    background-color: rgb(221, 221, 221);
    border: none;
    margin-bottom: 75px;
    margin-right: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.settingsBtn2 {
    background-color: white;
    border: none;
    margin: 25px 2%;
    position: absolute;
    right: 0;
    top: 0;
}

.settingsBtn1:focus, .settingsBtn2:focus {
    outline: none;
}

.settingsBtn2:active {
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}

/* Modal buttons styling */
.cancelBtn, .saveBtn {
    border: none;
    font-size: 25px;
    padding: 6px;
    border-radius: 5px;
}

.cancelBtn {
    padding: 6px 17px 6px 10px;
}

/* Background color styling */
.btn-secondary:not(:disabled):not(.disabled).active, .cancelBtn, .btn {
    background-color: #444;
}


/* Settings for the time settings */
.timeBtn, .unitBtn {
    background-color: #8c9094;
    border: none;
    border-radius: 5px;
    margin: 0 10px 0 5px;
    font-size: 20px;
}

.timeFormText, .unitFormText {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 25px;
}

.unitFormText {
    margin-right: 15px;
}

.unitRow {
    margin-top: 10px;
}

/* Using this to hide things initially, then using jQuery to hide the rest */
.hide {
    display: none;
}

/* Github link/p tag */
.beforeFooter {
    font-size: 11px;
    margin-bottom: 20px;
    text-align: center;
}

#githubLink {
    color: black;
    font-size: 15px;
    transition: linear 0.1s;
}

#githubLink:hover {
    color: rgb(116, 116, 116);
    transition: linear 0.1s;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #444;
    border-top: 3px solid rgb(145, 145, 145);
    color: white;
    height: 4.5rem;
    margin-top: auto;
    text-align: center;
    width: 100%;
}

footer p{
    margin: 0;
}

/* Media */

/* Media for tablets */
@media (max-width: 1024px) {
    /* navBar styling */
    .dateTime{
        margin-left: 0;
    }

    .navSearch {
        width: 100%;
        margin: 0 15px 10px 15px;
    }

    /* Main styling */
    .row {
        width: 100%;
        margin: 0 auto;
    }
    
    .error {
        width: 95%;
    }

    .error2 {
        align-self: center;
        font-size: 20px;
        margin: 15px;
        width: 96%;
    }

    .prevDiv {
        margin-top: 10px;
    }

    .choiceRow {
        margin-bottom: 0;
    }

    .cityBtn {
        width: 95%;
        margin-right: 0;
    }

    .col-xl-6, .box {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .fiveDayText, .currentDayText {
        font-size: 40px;
        text-align: center;
    }
}

/* Media for most phones */
@media (max-width: 700px) {
    /* Main styling */
    .container-fluid {
        margin-bottom: 0;
    }

    .cityName {
        font-size: 35px;
    }
    
    /* Buttons in the previous/possible choices */
    .cityBtn {
        margin: 0 auto 20px auto;
        width: 85%;
    }

    .navbar-brand {
        margin: 0 auto;
    }

    /* Moment.js display */
    .dateTime {
        font-size: 30px;
        margin: 0 auto 15px auto;
    }

    .greetingText {
        font-size: 32px;
    }

    /* Setting buttons styling */
    .settingsBtn1 {
        position: relative;
        margin-bottom: 15px;
    }

    .settingsBtn2 {
        margin: 12px 2%;
    }

    /* Text styling */
    .fiveDayText, .currentDayText {
       margin-left: 0;
    }

    .description {
        display: none;
    }

    /* Modal styling */
    .timeBtn, .unitBtn {
        font-size: 14px;
    }
}

/* iPhone 5/SE */
@media(max-width: 320px) {
    /* Changed all of these font's to be just a tad smaller */
    p {
        font-size: 16px;
    }

    .dateTime, .greetingText {
        font-size: 25px;
    }

    .error, .error2, .cancelBtn, .saveBtn {
        font-size: 18px;
    }

    .form-control {
        font-size: 20px;
    }

    .cityName {
        font-size: 30px;
    }

    .timeBtn, .unitBtn, .timeFormText, .unitFormText {
        font-size: 15px;
    }

    /* Changing the width to be 10px smaller */
    .icon {
        width: 50px;
    }

    /* Change up the margin on the second setting button */
    .settingsBtn2 {
        margin: 8px 4%;
    }

    /* Adjust the the right margin on unitFormText so that way the top buttons and the bottom buttons line up */
    .unitFormText {
        margin-right: 10px;
    }
}