html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: rgb(221, 221, 221);
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

.bg-dark {
    background-color: #444 !important;
}

/* Navbar */
h2, .navbar-brand, .input-group, .previousChoices, .fiveDayText {
    font-family: 'Yellowtail', cursive;
}

.navbar {
    border-bottom: 3px solid black;
    padding: 0;
}

/* Logo */
.navbar-brand {
    font-size: 30px;
    justify-content: start;
    margin-left: 25px;
    padding: 20px 0px;
}

/* Moment.js display */
.dateTime {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    margin: 0 25px 0 250px;
}

/* Main */
main {
    box-shadow: 2px 9px 15px -3px #444;
    margin: 25px 5%;
}

main h2 {
    font-size: 50px;
}

hr {
    background-color: #444;
    border: none;
    height: 2px;
}

.container-fluid {
    margin: 0px auto 30px auto;
    padding-left: 0;
    padding-right: 0;
}

/* Welcome text */
.greetingText {
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

/* Styling for the cards */
.card {
    border: 3px solid #444;
}

.card-body {
    padding: 1.04rem;
}

/* Styling for the 5-Day forecast */
.box {
    box-shadow: 6px 5px 1px -3px #444;
    margin-right: 20px;
    padding: 0;
    width: 100%;
}

.boxContainer {
    flex-direction: row;
}

.col-md-5 {
    margin-right: 30px;
}

.fiveDayText {
    font-size: 30px;
    margin-left: 4.5%;
}

/* Styling for the searchbars */
.form-control {
    border-radius: 1rem;
    font-size: 25px;
    height: 65px;
}

.form-control2 {
    height: auto;
}

.searchBtn {
    width: 120px;
}

/* Styling for the buttons */
.btn {
    background-color: #444;
    border-radius: 1rem;
    color: white;
    font-size: 25px;
}

.btn:hover {
    background-color: rgb(116, 116, 116);
}

.cityBtn {
    margin-right: 15px;
}

/* Styling for the previous choices text*/
.previousChoices {
    font-size: 35px;
    text-align: center;
}

/* Styling for rows */
.row {
    justify-content: center;
    margin-bottom: 35px;
}

/* This is so the 5-day forecast row doesn't have 35px of whitespace underneath the cards */
.fiveDay {
    margin: 0;
}

/* Styling for the searchbars */
.firstSearch {
    margin: 45px auto 25px auto;
    width: 95%;
}

.navSearch {
    margin: 0 15px 0 0;
    width: 400px;
}

.error {
    border-radius: 1rem;
    border: 2px solid red;
    color: red;
    font-size: 20px;
    margin: 15px auto; 
    padding: 15px;
    text-align: center;
    width: 40%;
}

.hide {
    display: none;
}

/* Footer */
footer {
    background-color: #444;
    border-top: 3px solid rgb(145, 145, 145);
    color: white;
    height: 4.5rem;
    margin-top: auto;
    text-align: center;
    width: 100%;
}

footer p{
    margin: 1px 0 0 0;
    padding: 5px 0 0 2px;
}

/* Media */
@media (max-width: 700px) {
    .row {
        flex-direction: column;
        margin-bottom: 0;
    }

    /* Buttons in the previous/possible choices */
    .cityBtn {
        margin: 0 auto 20px auto;
        width: 85%;
    }

    /* Moment.js display */
    .dateTime {
        font-size: 30px;
    }
}